/* -------------- Loader Css -------------- */
.loader {
    width: 30px;
    height: 15px;
    background: black;
    position: relative;
    animation: l9-0 1.5s infinite linear;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    background: inherit;
    bottom: 100%;
    width: 50%;
    height: 100%;
    animation: inherit;
    animation-name: l9-1;
}

.loader:before {
    left: 0;
    transform-origin: bottom left;
    --s: -1;
}

.loader:after {
    right: 0;
    transform-origin: bottom right;
}

@keyframes l9-0 {

    0%,
    10% {
        transform: translateY(0%) scaleY(1)
    }

    49.99% {
        transform: translateY(-50%) scaleY(1)
    }

    50% {
        transform: translateY(-50%) scaleY(-1)
    }

    90%,
    100% {
        transform: translateY(-100%) scaleY(-1)
    }
}

@keyframes l9-1 {

    10%,
    90% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(calc(var(--s, 1)*180deg))
    }
}

/* --------------- footer --------------- */

li{
    list-style: none;
}
.footer-section{
    padding: 10px;
    color: white !important;
    background: #212529;
    height: auto;
}

.footer-brand{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}
.list-wrapper{
    padding: 20px 0px;
}
.list-wrapper a{
    text-decoration: none;
    color: #ffffff8c;
}
